@import './fonts.css';

body {
  margin: 0;
  background-color: #cfd8e4;
  font-family: Poppins, Arial, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-block {
  display: block;
}

.m-0 {
  margin: 0;
}